
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
}

.shadow {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button index.html */

/* Кнопка "Подписаться" в блоке рассылки */
.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}

/* Кнопка "Хочу сюда" в меню навигации */
.navigation-link.button.button-small {
  color: #ffffff;
  background-color: #756157;
  min-width: 92px;
  min-height: 20px;
  padding: 8px 34px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.navigation-link.button.button-small:hover {
  background-color: #615048;
}

.navigation-link.button.button-small:focus {
  background-color: #615048;
}

.navigation-link.button.button-small:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.navigation-link.button.button-small:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.button-mail {
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.button-mail:hover {
  background-color: #68A2CA;
}

.button-mail:focus {
  background-color: #68A2CA;
}

.button-mail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-mail:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

/* botton catalog.html */

.button-catalog {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 191px;
  height: 104px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 55px;
}

.botton-catalog-blue {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
}

.botton-catalog-blue:hover {
  background-color: #68A2CA;
}

.botton-catalog-blue:focus {
  background-color: #68A2CA;
}

.botton-catalog-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.botton-catalog-blue:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.botton-catalog-passive {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
}

.botton-catalog-passive:hover {
  color: rgba(255, 255, 255, 0.4);
}

.botton-catalog-passive:focus {
  color: #ffffff;
}

.botton-catalog-passive:active {
  color: rgba(255, 255, 255, 0.3);
}

.botton-catalog-passive:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.button-blue-small {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.button-blue-small:hover {
  background-color: #68A2CA;
}

.button-blue-small:focus {
  background-color: #68A2CA;
}

.button-blue-small:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-blue-small:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.button-brown-small {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button-brown-small:hover {
  background-color: #615048;
}

.button-brown-small:focus {
  background-color: #615048;
}

.button-brown-small:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-brown-small:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.button-modal {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 77px;
  border-radius: 10px;
  grid-column: 1/-1;
  background-color: #82B3D3;
}

.button-modal:hover {
  background-color: #68A2CA;
}

.button-modal:focus {
  background-color: #68A2CA;
}

.button-modal:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: right;
  max-width: 360px;
  margin-right: 70px;
  gap: 10px;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.navigation-icons-search {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.navigation-icons-heart {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: -19px;
  margin: 0 auto;
}

.navigation-link:hover
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active svg {
  color: rgba(117, 97, 87, 0.3);
}

.text-link {
  position: absolute;
  width: 11px;
  height: 10px;
  top: calc(50% - 10px/2 - 20px);
  right: 0;
  bottom: 0;
  left: calc(50% - 11px/2 - 7px);
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 5px 5px 4px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.page-header-logo {
  width: 140px;
  height: 71px;
  margin-left: 70px;
  margin-right: 28px;
  position: relative;
  z-index: 1;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #333333;
  background-color: #ffffff;
}

.hero {
  padding-top: 51px;
  background-image: url("../images/hero-divider.svg"), url("../images/hero-over-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  margin-top: -7px;
  background-position: center 430px, center 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* logo */

.hero-welcom {
  display: block;
  margin: 0 auto;
  padding-bottom: 83px;
}

/* Advantages */

.advantages .welcom-reasons {
  margin-bottom: 21px;
}

.welcom-reasons {
  width: 1200px;
  min-height: 261px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.welcom {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  width: 630px;
  min-height: 72px;
  margin: 0 auto;
  padding: 69px 0 25px;
}

.reasons {
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
  width: 670px;
  height: 26px;
  margin: 0 auto;
  margin-bottom: 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-group {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  min-height: 157px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 70px;
  border: none;
}

.catalog-filter-group:nth-child(n+3) {
  padding-left: 70px;
}

.advantages-item-img {
  display: flex;
  align-items: center;
  min-height: 385px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-text {
  min-height: 385px;
}

.revers-images {
  flex-direction: row-reverse;
}

.advantages-item-img p,
.advantages-item-text p {
  width: 380px;
  justify-content: space-between;
}

.advantages-houses {
  width: 400px;
}

.advantages-images {
  width: 800px;
  vertical-align: middle; /* Прижимает img к низу блока?!*/
}

.advantages-white {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-grey {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000 ;
}

/* Big */
.advantages-big {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-bottom: 2px;
  margin-top: 9px;
  min-width: 175px;
  min-height: 56px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}

.advantages-big-current, .advantages-big-white {
  position: relative;
}

.advantages-big-current::after {
  position: absolute;
  content: "";
  right: 159px;
  left: 170px;
  bottom: -30px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-big-white::after {
  position: absolute;
  content: "";
  right: 159px;
  left: 170px;
  bottom: -30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-little {
  margin: 0;
  margin-top: 40px;
  padding: 10px;
  padding-top: 20px;
  min-width: 230px;
  min-height: 42px;
  color: #333333;
}

.advantages-little-white {
  color: #ffffff;
}

/* services & hotel */

.general-background {
  display: flex;
  width: 1200px;
  color: #333333;
  background-color: #ffffff;
}

.services-advantages {
  width: 1200px;
  text-align: center;
}

.services-list {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(131, 179, 211, 0.12);
  min-height: 385px;
}

.invite {
  width: 505px;
  min-height: 72px;
  margin: 0 auto;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 20px;
}

.services {
  margin: 0 auto;
  padding: 0;
  width: 490px;
  min-height: 26px;
  margin-bottom: 64px;
}

.invite,
.interested {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.services-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding-top: 158px;
}

.white-fone {
  background-color: #ffffff;
}

.advices-item-house {
  background-image: url("../images/services/house.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  background-size: 75px 72px;
}

.advices-item-burger {
  background-image: url("../images/services/burger.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  background-size: 75px 72px;
}

.advices-item-souvenir {
  background-image: url("../images/services/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  background-size: 75px 72px;
}

.interested {
  margin: 0 auto;
  padding: 0;
  width: 297px;
  min-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.services,
.date-of-trip {
  font-size: 22px;
  line-height: 26px;
}

.date-of-trip {
  margin: 0 auto;
  padding: 0;
  width: 592px;
  min-height: 52px;
  text-align: center;
  margin-bottom: 55px;
}

.services-title {
  min-width: 230px;
  min-height: 28px;
  padding: 0 10px 7px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.services-description {
  min-width: 230px;
  min-height: 63px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 0 10px;
}

.hotel {
  width: 1200px;
  text-align: center;
  padding: 96px;
}

.hotel-search {
  padding: 8px 50px;
  width: 376px;
  min-height: 36px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
}

.hotel-search:hover {
  background-color: #615048;
}

.hotel-search:focus {
  background-color: #615048;
}

.hotel-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.hotel-search:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

/* mailing */

.mailing {
  display: flex;
  flex-direction: column;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.mailing-background {
  background-image: url(../images/subscribe.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mailing-title {
  width: 444px;
  min-height: 37px;
  margin: 0 auto;
  padding: 96px 0 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.mailing-form {
  width: 680px;
  height: 52px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto 104px;
}

.field {
  width: 410px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  padding: 14px 20px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  outline: 3px solid #83B3D3;
}

.field:active,
.field:not(:placeholder-shown) {
  outline: 3px solid #000000;
}

.field:not(:placeholder-shown):not(:focus) {
  outline: none;
}

.mailing-form-adress {
  margin: 0;
}

.welcom-reasons {
  width: 1200px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.appeal,.appeal-catalog {
  margin: 0 auto;
  width: 475px;
  min-height: 53px;
  padding-bottom: 52px;
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.mailing-catalog {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.appeal-catalog {
  text-transform: none;
  color: #333333;
}

.mailing-page-main {
  vertical-align: middle;
}

/* footer */

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 0;
}

.page-footer {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.footer-social-link {
  color: #83B3D3;
}

.footer-social-link:hover {
  color: #68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone-number a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.footer-phone-number {
  min-width: 331px;
  min-height: 40px;
  margin: 0 auto;
  padding-top: 10px;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social {
  margin-right: auto;
  margin-left: 70px;
  min-width: 142px;
  min-height: 40px;
  padding-top: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  min-width: 142px;
  min-height: 40px;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  list-style: none;
}

.footer-logo-htmlacademy {
  width: 115px;
  margin-left: auto;
  margin-right: 70px;
  padding-top: 10px;
}

.logo-htmlacademy {
  color: #000000;
}

.logo-html {
  display: block;
}

.logo-htmlacademy:hover {
  color: #756157;
}

.logo-htmlacademy:focus {
  color: #756157;
}

.logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.3);
}

/* catalog.html */

.background-image-catalog {
  background-image: url(../images/header-inner.jpg);
  background-color: #756157;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -11px;
  padding: 35px 70px 70px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  min-width: 495px;
  min-height: 78px;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.hotel-catalog {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.catalog-filter {
  display: flex;
  align-items: center;
  padding-top: 25px;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  cursor: pointer;
}

.hotel-catalog-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  width: 114px;
  min-height: 21px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.breadcrumbs-link {
  display: block;
  min-width: 12px;
  min-height: 12px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home-link {
  width: 12px;
  height: 12px;
  background-image: url("../images/hotel-catalog/home-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  min-height: 12px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  background-image: url("../images/hotel-catalog/bread-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 20px;
  right: -19px;
  top: -3px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.control {
  color: #ffffff;
}

.control:hover {
  color: rgba(255, 255, 255, 0.4);
}

.control:focus {
  color: #ffffff;
}

.control:active {
  color: rgba(255, 255, 255, 0.3);
}

.control {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 35px;
  padding-bottom: 3px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input:active + .control-mark {
  opacity: 0.3;
  color: red;
}

.control-input:disabled + .control-mark,
.control-input:disabled ~ .control {
  opacity: 0.1;
  cursor: default;
}

.control-mark:hover,
.control:hover {
  opacity: 0.6;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 1px;
  margin: auto;
  background-image: url("../images/hotel-catalog/check-bocks/tick-down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.hotel-catalog-item:not(:last-child) {
  margin-bottom: 16px;
}

/* Ползунок */

.range-scale {
  margin: 0;
  padding: 0;
  width: 288px;
  position: relative;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px; /*2px*/
  position: relative;
}

.range-input-from {
  border-radius: 4px 0 0 4px;
  border: none;
}

.range-input-before {
  border-radius: 0 4px 4px 0;
  border: none;
}

.range-input {
  margin-left: -3px;
  margin-top: -3px;
  padding-left: 20px;
  padding-right: 55px;
  margin-bottom: 41px;
  width: 67px;
  min-height: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  background: #F2F2F2;
  appearance: textfield;
  outline: none;
}

/* Убирает стрелки для изменения значений */

.range-input-before::-webkit-inner-spin-button,
.range-input-from::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.range-input:hover {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}

.range-input:focus {
  background-color: #E6E6E6;
  border-color: #83B3D3;
  outline: none;
}

.range-input:active,
.range-input:not(:placeholder-shown) {
  background-color: #E6E6E6;
  border-color: #000000;
  outline: none;
}

.catalog-filter-label span {
  position: absolute;
  content: "";
  right: 20px;
  top: 15%;
  width: 19px;
  height: 24px;
  color: #000000;
  opacity: 0.3;
  overflow: hidden;
}

/* search result */

.search-results {
  min-width: 1060px;
}

.hotel-search-result {
  margin: 0;
  padding: 0;
  width: 338px;
  min-height: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  min-width: 1060px;
  min-height: 49px;
  margin: 50px 70px 40px;
}

.button-icons {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: 70px;
}

.small-icons, .large-icons, .list-icons {
  align-items: center;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.icons-list:hover {
  border: 2px solid #000000;
}

.icons-list:focus {
  border: 2px solid #68A2CA;
}

.icons-list:active {
  border: 2px solid #000000;
}

.sorting .button {
  width: 48px;
  height: 48px;
}

.drop-down-list {
  width: 292px;
  height: 49px;
  margin-left: 200px;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 18px;
  background-image: url("../images/hotel-catalog/check-bocks/jackdaw-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-right: 40px;
}

.drop-down-list:hover {
  border: 2px solid #68A2CA;
}

.drop-down-list:focus {
  border: 2px solid #68A2CA;
}

.drop-down-list:active {
  border: 2px solid #3F5E72;
}

.drop-down-list:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 40px 70px 80px;
  padding: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 6px 20px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.hotel-card-price {
  text-align: end;
margin-bottom: 9px;
  margin-top: 12px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-top: 10px;
}

.hotel-card-type {
  margin-bottom: 9px;
  margin-top: 12px;
}

.hotel-card-button {
  display: block;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.button-brown-small {
  padding: 8px 18px;
}

.button-blue-small {
  padding: 8px 12px;
}

.blue-small-current {
  background-color: #7DB54F;
}

.blue-small-current:hover {
  background-color: #6C9E42;
}

.blue-small-current:focus {
  background-color: #6C9E42;
}

.blue-small-current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.blue-small-current:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.hotel-card-rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  margin: 0;
  margin-top: 10px;
}

.hotel-card-stars {
  width: 140px;
  height: 37px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  align-self: center;
}

/* pagination */

.pagination-container {
  display: flex;
  margin-left: 70px;
  margin-bottom: 59px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 11px;
  text-align: center;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
  overflow: hidden;

}

.pagination-next {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
}

.ellipsis {
  padding: 16px 21px 17px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  overflow: hidden;
}

.pagination-link:hover:not(.pagination-current) {
  background-color: #68A2CA;
}

.pagination-link:focus:not(.pagination-current) {
  background-color: #68A2CA;
}

.pagination-link:active:not(.pagination-current) {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  font-size: 22px;
  line-height: 26px;
}

/* Модально окно поиска гостиницы */

.modal-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  width: 576px;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  color: #000000;
}

.modal-title {
  margin: 0 0 64px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 50px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.modal-cross {
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus:not(:active) {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active .modal-cross {
 opacity: 0.3;
}

.modal-form {
  display: grid;
  grid-template-columns: 247px auto;
  gap: 25px 88px;
  grid-template-rows: 72px 73px 71px;
}

.modal-form-full-width {
  grid-column: 1/-1;
}

.modal-form-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal-form-input {
  width: 370px;
  padding: 12px 50px 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.modal-form-input[type="number"] {
  position: relative;
  width: 30px;
  padding: 12px 40px;
  text-align: center;
}

.modal-form-input:hover {
  background-color: #E6E6E6;
}

.modal-form-input:focus {
  outline: 3px solid #83B3D3;
}

.modal-form-input:active,
.modal-form-input:not(:placeholder-shown) {
  outline: 3px solid #000000;
}

.modal-form-input:not(:placeholder-shown):not(:focus) {
  outline: none;
}

.modal-form-control {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.3;
}

.modal-form-control.minus {
  left: 10px;
  background-image: url("../images/check-bocks-icons/Vector--.svg");
}

.modal-form-control.plus {
  right: 10px;
  background-image: url("../images/check-bocks-icons/plus.svg");
}

.modal-form-control.minus:hover,
.modal-form-control.plus:hover {
  opacity: 1;
}

.modal-form-control.minus:active,
.modal-form-control.plus:active {
  opacity: 0.3;
}

.modal-form-control.minus:focus:not(:active),
.modal-form-control.plus:focus:not(:active) {
  opacity: 1;
  outline: 3px solid #82B3D3;
}

/* Убирает стрелки для изменения значений для Chrome */

.modal-form-input[type="number"]::-webkit-outer-spin-button,
.modal-form-input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Убирает стрелки для изменения значений для Firefox */

.modal-form-input[type="number"] {
  -moz-appearance: textfield;
}

.modal-form-input-wrap {
  position: relative;
}

.modal-form-input-wrap.date::before {
  position: absolute;
  z-index: 1;
  content: "";
  width: 20px;
  height: 20px;
  top: 14px;
  right: 20px;
  background-image: url("../images/check-bocks-icons/calendar.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-form-caption {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 3px;
  padding-left: 20px;
  color: #333333;
}

.modal-form-caption.error {
  color: #FF5757;
}

.modal-form-label-tooltip {
  align-self: center;
  margin-right: auto;
  margin-left: 10px;
  margin-top: -25px;
}

.modal-form-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal-close {
  display: none;
}

.tooltip {
  position: relative;
  z-index: 1;
  width: 26px;
  height: 26px;
}

.tooltip-control {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.tooltip-control:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 44px;
  left: 50%;
  min-width: 216px;
  transform: translateX(-50%);
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 9px;
  top: -9px;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../images/check-bocks-icons/tooltip-pyramid.svg");
}
