
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", "sans-serif";
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", "sans-serif";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  /* Почему не могу убрать "точки" с помощью list-style: none; ?*/
}

.main-index {
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/hero-over-background.jpg");
  bacground-size: 100% auto;
  background-repeat: no-repeat;
}

/* Advantages */
.advantages-list {
  text-align: center;
  list-style: none;
}

.advantages-item-img {
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-white {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-grey {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000 ;
}

/* Big */
.advantages-big {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* services & hotel */
.general-background {
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}

.services-list {
  list-style: none;
}

.invite,
.interested {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.services,
.date-of-trip {
  font-size: 22px;
  line-height:26px;
}

.services-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  color: #000000;
}

.services-description {
  font-size: 18px;
  line-height:21px;
  font-weight: 400;
}

.hotel-search {
  text-transform: uppercase;
  font-size: 20px;
  line-height:36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
}

/* mailing */
.mailing {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.appeal {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
}

/* footer */
