
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "sans-serif";
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button index.html */
.button {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
}

/* botton catalog.html */
.botton-catalog-blue {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
}

.botton-catalog-passive {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
}

.button-blue-small {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.button-brown-small {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button-catalog {
  width: 191px;
  height: 104px;
  margin-left: 939px;
  text-align: center;
  /*display: flex;
  flex-wrap: wrap;*/
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  margin-left: auto;
  margin: 0;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", "sans-serif";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.page-header-logo {
  width: 140px;
  height: 71px;
  margin-left: 70px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #333333;
  background-color: #ffffff;
}

.hero {
  padding-top: 51px;
  background-image: url("../images/hero-over-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* logo */

.hero-welcom {
  display: block;
  margin: 0 auto;
  padding-bottom: 83px;
}

/* Advantages */

.advantages .welcom-reasons {
  margin-bottom: 21px;
}

.welcom-reasons {
  width: 1200px;
  min-height: 261px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.welcom {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  width: 620px;
  height: 72px;
  margin: 0 auto;
  padding: 69px 290px 25px;
}

.reasons {
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
  width: 651px;
  height: 26px;
  margin: 0 auto;
  padding-left: 274px;
  padding-right: 274px;
  padding-bottom: 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-group {
  width: 151px;
  height: 157px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.advantages-item-img {
  display: flex;
  min-height: 385px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-text {
  min-height: 385px;
}

.catalog-filter-group {
  display: inline-block;
}

.revers-images {
  flex-direction: row-reverse;
}

.advantages-item-img p,
.advantages-item-text p {
  width: 400px;
  justify-content: space-between;
}

.advantages-houses {
  width: 400px;
}

.advantages-images {
  width: 800px;
  vertical-align: middle; /* Прижимает img к низу блока?!*/
}

.advantages-white {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-grey {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000 ;
}

/* Big */
.advantages-big {
  margin: 0;
  padding: 0;
  min-width: 175px;
  min-height: 56px;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}

.advantages-little {
  margin: 0;
  padding: 0;
  min-width: 230px;
  min-height: 42px;
}

.advantages-item-img {
  align-items: center;
}

.advantages-item-text {
  align-items: center;
} /* Не работает центровка на эти три элемента?!!*/

/* services & hotel */

.general-background {
  display: flex;
  width: 1200px;
  color: #333333;
  background-color: #ffffff;
}

.services-advantages {
  width: 1200px;
  text-align: center;
}

.services-list {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(131, 179, 211, 0.12);
  min-height: 385px;
} /*как сделать 12% от цвета?*/

.invite {
  width:505px;
  min-height: 72px;
  margin: 0 auto;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 20px;
}

.services {
  margin: 0 auto;
  padding: 0;
  width: 490px;
  min-height: 26px;
  margin-bottom: 64px;
}

.invite,
.interested {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.services-item {
  box-sizing: border-box;
  min-width: 400px;
  min-height: 385px;
  padding: 81px 85px;
}

.white-fone {
  background-color: #ffffff;
}

.interested {
  margin: 0 auto;
  padding: 0;
  width: 297px;
  min-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.services,
.date-of-trip {
  font-size: 22px;
  line-height:26px;
}

.date-of-trip {
  margin: 0 auto;
  padding: 0;
  width: 592px;
  min-height: 52px;
  text-align: center;
  margin-bottom: 62px;
}

.services-title {
  min-width: 230px;
  min-height: 28px;
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  color: #000000;
}

.services-description {
  min-width: 230px;
  min-height: 63px;
  font-size: 18px;
  line-height:21px;
  font-weight: 400;
}

.hotel {
  width: 1200px;
  text-align: center;
  padding: 96px;
}

.hotel-search {
  padding: 8px 50px;
  width: 376px;
  text-transform: uppercase;
  font-size: 20px;
  line-height:36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
}

/* mailing */

.mailing {
  display: flex;
  flex-direction: column;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.mailing-background {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }

.mailing-title {
  margin: 0;
  width: 404px;
  min-height: 37px;
  padding: 96px 398px 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.welcom-reasons {
  width: 1200px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.appeal,
.appeal-catalog {
  margin: 0 auto;
  width: 475px;
  min-height: 53px;
  padding-bottom: 54px;
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.mailing-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 684px;
  min-height: 52px;
}

.mailing-catalog {
  /*text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;*/
  color: #000000;
  background-color: #ffffff;
  text-align: center
}

.appeal-catalog {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.mailing-page-main {
  vertical-align: middle;
}

/* footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  margin-top: 45px;
  /*padding: 40px 70px 30px;*/
}

.page-footer {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.footer-phone-number a {
  color: #000000;
  text-decoration: none;
}

.footer-phone-number {
  width: 331px;
  min-height: 40px;
  margin: 0 auto;
}

.footer-social {
  margin-right: auto;
  max-width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  list-style: none;
  margin-right: 0;
}/* какой указать размер, по макету идут не целые числа!? */

.footer-logo-htmlacademy {
  width: 115px;
  margin-left: auto;
  margin-right: 70px
}

/* catalog.html */

.background-image-catalog {
  background-color: #000000;
  background-image: url(../images/header-inner.jpg);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  width: 495px;
  min-height: 78px;
  padding-top: 75px;
  padding-left: 70px;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.hotel-catalog {
  width: 1200px;
  margin: 0 auto;
  padding: o;
}

.hotel-catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  width: 114px;
  height: 21px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 41px; /* 70px отступ дб, сформирую отступ после добавления иконок */
  margin-bottom: 40px;
}

.breadcrumbs-link {
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.control {
  color: #ffffff;
}

/* search result */

.hotel-search-result {
  margin: 0;
  padding: 0;
  width: 338px;
  height: 36px;
  margin-left: 70px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  width: 1060px;
  height: 49px;
  margin: 50px 70px 60px;
  /*margin: 50px 70px 1136px 70px;*/
}

.sorting .button {
  width: 48px;
  height: 48px;
}

.drop-down-list {
  width: 292px;
  height: 49px;
  margin-left: 200px;
  padding: 0px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 40px 70px 80px;
  padding: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-top: 16px;
  }

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
  }

.hotel-card-rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
}

/* pagination */

.pagination-container {
  display: flex;
  margin-left: 70px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 11px;
  text-align: center;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-next {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
}

.ellipsis {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  font-size: 22px;
  line-height: 26px;
}
